In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [3]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols,encoding='latin-1')

In [4]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [5]:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [6]:
print(users.shape)
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
print(ratings.head)
ratings.head()

<bound method NDFrame.head of        user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
5          298       474       4       884182806
6          115       265       2       881171488
7          253       465       5       891628467
8          305       451       3       886324817
9            6        86       3       883603013
10          62       257       2       879372434
11         286      1014       5       879781125
12         200       222       5       876042340
13         210        40       3       891035994
14         224        29       3       888104457
15         303       785       3       879485318
16         122       387       5       879270459
17         194       274       2       879539794
18         291      1042       4       874834944
19         234      1184       2       892079237
20         119       392       4       886176814
21         167       486       4       892738452
22         299       144       4       877881320
23         291       118       2       874833878
24         308         1       4       887736532
25          95       546       2       879196566
26          38        95       5       892430094
27         102       768       2       883748450
28          63       277       4       875747401
29         160       234       5       876861185
...        ...       ...     ...             ...
99970      449       120       1       879959573
99971      661       762       2       876037121
99972      721       874       3       877137447
99973      821       151       4       874792889
99974      764       596       3       876243046
99975      537       443       3       886031752
99976      618       628       2       891308019
99977      487       291       3       883445079
99978      113       975       5       875936424
99979      943       391       2       888640291
99980      864       685       4       888891900
99981      750       323       3       879445877
99982      279        64       1       875308510
99983      646       750       3       888528902
99984      654       370       2       887863914
99985      617       582       4       883789294
99986      913       690       3       880824288
99987      660       229       2       891406212
99988      421       498       4       892241344
99989      495      1091       4       888637503
99990      806       421       4       882388897
99991      676       538       4       892685437
99992      721       262       3       877137285
99993      913       209       2       881367150
99994      378        78       3       880056976
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]>

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [8]:
print(items.head)
items.head()

<bound method NDFrame.head of       movie id                                        movie title  \
0            1                                   Toy Story (1995)
1            2                                   GoldenEye (1995)
2            3                                  Four Rooms (1995)
3            4                                  Get Shorty (1995)
4            5                                     Copycat (1995)
5            6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6            7                              Twelve Monkeys (1995)
7            8                                        Babe (1995)
8            9                            Dead Man Walking (1995)
9           10                                 Richard III (1995)
10          11                               Seven (Se7en) (1995)
11          12                         Usual Suspects, The (1995)
12          13                            Mighty Aphrodite (1995)
13          14                                 Postino, Il (1994)
14          15                          Mr. Holland's Opus (1995)
15          16                 French Twist (Gazon maudit) (1995)
16          17                         From Dusk Till Dawn (1996)
17          18                          White Balloon, The (1995)
18          19                              Antonia's Line (1995)
19          20                          Angels and Insects (1995)
20          21                      Muppet Treasure Island (1996)
21          22                                  Braveheart (1995)
22          23                                 Taxi Driver (1976)
23          24                         Rumble in the Bronx (1995)
24          25                               Birdcage, The (1996)
25          26                      Brothers McMullen, The (1995)
26          27                                    Bad Boys (1995)
27          28                                   Apollo 13 (1995)
28          29                              Batman Forever (1995)
29          30                               Belle de jour (1967)
...        ...                                                ...
1652      1653  Entertaining Angels: The Dorothy Day Story (1996)
1653      1654                       Chairman of the Board (1998)
1654      1655                                  Favor, The (1994)
1655      1656                                 Little City (1998)
1656      1657                                      Target (1995)
1657      1658                      Substance of Fire, The (1996)
1658      1659                    Getting Away With Murder (1996)
1659      1660                                 Small Faces (1995)
1660      1661                                New Age, The (1994)
1661      1662                                 Rough Magic (1995)
1662      1663                            Nothing Personal (1995)
1663      1664                     8 Heads in a Duffel Bag (1997)
1664      1665                           Brother's Kiss, A (1997)
1665      1666                                        Ripe (1996)
1666      1667                              Next Step, The (1995)
1667      1668                          Wedding Bell Blues (1996)
1668      1669                           MURDER and murder (1996)
1669      1670                                     Tainted (1998)
1670      1671                          Further Gesture, A (1996)
1671      1672                                        Kika (1993)
1672      1673                                      Mirage (1995)
1673      1674                                  Mamma Roma (1962)
1674      1675                              Sunchaser, The (1996)
1675      1676                            War at Home, The (1996)
1676      1677                               Sweet Nothing (1995)
1677      1678                                  Mat' i syn (1997)
1678      1679                                   B. Monkey (1998)
1679      1680                               Sliding Doors (1998)
1680      1681                                You So Crazy (1994)
1681      1682          Scream of Stone (Schrei aus Stein) (1991)

     release date  video release date  \
0     01-Jan-1995                 NaN
1     01-Jan-1995                 NaN
2     01-Jan-1995                 NaN
3     01-Jan-1995                 NaN
4     01-Jan-1995                 NaN
5     01-Jan-1995                 NaN
6     01-Jan-1995                 NaN
7     01-Jan-1995                 NaN
8     01-Jan-1995                 NaN
9     22-Jan-1996                 NaN
10    01-Jan-1995                 NaN
11    14-Aug-1995                 NaN
12    30-Oct-1995                 NaN
13    01-Jan-1994                 NaN
14    29-Jan-1996                 NaN
15    01-Jan-1995                 NaN
16    05-Feb-1996                 NaN
17    01-Jan-1995                 NaN
18    01-Jan-1995                 NaN
19    01-Jan-1995                 NaN
20    16-Feb-1996                 NaN
21    16-Feb-1996                 NaN
22    16-Feb-1996                 NaN
23    23-Feb-1996                 NaN
24    08-Mar-1996                 NaN
25    01-Jan-1995                 NaN
26    01-Jan-1995                 NaN
27    01-Jan-1995                 NaN
28    01-Jan-1995                 NaN
29    01-Jan-1967                 NaN
...           ...                 ...
1652  27-Sep-1996                 NaN
1653  01-Jan-1998                 NaN
1654  01-Jan-1994                 NaN
1655  20-Feb-1998                 NaN
1656  28-Feb-1996                 NaN
1657  06-Dec-1996                 NaN
1658  12-Apr-1996                 NaN
1659  09-Aug-1996                 NaN
1660  01-Jan-1994                 NaN
1661  30-May-1997                 NaN
1662  30-Apr-1997                 NaN
1663  18-Apr-1997                 NaN
1664  25-Apr-1997                 NaN
1665  02-May-1997                 NaN
1666  13-Jun-1997                 NaN
1667  13-Jun-1997                 NaN
1668  20-Jun-1997                 NaN
1669  01-Feb-1998                 NaN
1670  20-Feb-1998                 NaN
1671  01-Jan-1993                 NaN
1672  01-Jan-1995                 NaN
1673  01-Jan-1962                 NaN
1674  25-Oct-1996                 NaN
1675  01-Jan-1996                 NaN
1676  20-Sep-1996                 NaN
1677  06-Feb-1998                 NaN
1678  06-Feb-1998                 NaN
1679  01-Jan-1998                 NaN
1680  01-Jan-1994                 NaN
1681  08-Mar-1996                 NaN

                                               IMDb URL  unknown  Action  \
0     http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1     http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2     http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3     http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4     http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
5     http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...        0       0
6     http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
7        http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0
8     http://us.imdb.com/M/title-exact?Dead%20Man%20...        0       0
9     http://us.imdb.com/M/title-exact?Richard%20III...        0       0
10      http://us.imdb.com/M/title-exact?Se7en%20(1995)        0       0
11    http://us.imdb.com/M/title-exact?Usual%20Suspe...        0       0
12    http://us.imdb.com/M/title-exact?Mighty%20Aphr...        0       0
13    http://us.imdb.com/M/title-exact?Postino,%20Il...        0       0
14    http://us.imdb.com/M/title-exact?Mr.%20Holland...        0       0
15    http://us.imdb.com/M/title-exact?Gazon%20maudi...        0       0
16    http://us.imdb.com/M/title-exact?From%20Dusk%2...        0       1
17    http://us.imdb.com/M/title-exact?Badkonake%20S...        0       0
18    http://us.imdb.com/M/title-exact?Antonia%20(1995)        0       0
19    http://us.imdb.com/M/title-exact?Angels%20and%...        0       0
20    http://us.imdb.com/M/title-exact?Muppet%20Trea...        0       1
21    http://us.imdb.com/M/title-exact?Braveheart%20...        0       1
22    http://us.imdb.com/M/title-exact?Taxi%20Driver...        0       0
23    http://us.imdb.com/M/title-exact?Hong%20Faan%2...        0       1
24    http://us.imdb.com/M/title-exact?Birdcage,%20T...        0       0
25    http://us.imdb.com/M/title-exact?Brothers%20Mc...        0       0
26    http://us.imdb.com/M/title-exact?Bad%20Boys%20...        0       1
27    http://us.imdb.com/M/title-exact?Apollo%2013%2...        0       1
28    http://us.imdb.com/M/title-exact?Batman%20Fore...        0       1
29    http://us.imdb.com/M/title-exact?Belle%20de%20...        0       0
...                                                 ...      ...     ...
1652  http://us.imdb.com/M/title-exact?Entertaining%...        0       0
1653  http://us.imdb.com/Title?Chairman+of+the+Board...        0       0
1654  http://us.imdb.com/M/title-exact?Favor,%20The%...        0       0
1655  http://us.imdb.com/M/title-exact?Little+City+(...        0       0
1656   http://us.imdb.com/M/title-exact?Target%20(1995)        0       1
1657  http://us.imdb.com/M/title-exact?Substance%20o...        0       0
1658  http://us.imdb.com/Title?Getting+Away+With+Mur...        0       0
1659  http://us.imdb.com/M/title-exact?Small%20Faces...        0       0
1660  http://us.imdb.com/M/title-exact?New%20Age,%20...        0       0
1661  http://us.imdb.com/M/title-exact?Rough%20Magic...        0       0
1662  http://us.imdb.com/M/title-exact?Nothing%20Per...        0       0
1663  http://us.imdb.com/Title?8+Heads+in+a+Duffel+B...        0       0
1664  http://us.imdb.com/M/title-exact?Brother%27s%2...        0       0
1665  http://us.imdb.com/M/title-exact?Ripe%20%28199...        0       0
1666  http://us.imdb.com/M/title-exact?Next%20Step%2...        0       0
1667  http://us.imdb.com/M/title-exact?Wedding%20Bel...        0       0
1668  http://us.imdb.com/M/title-exact?MURDER+and+mu...        0       0
1669    http://us.imdb.com/M/title-exact?Tainted+(1998)        0       0
1670  http://us.imdb.com/M/title-exact?Further+Gestu...        0       0
1671     http://us.imdb.com/M/title-exact?Kika%20(1993)        0       0
1672   http://us.imdb.com/M/title-exact?Mirage%20(1995)        0       1
1673  http://us.imdb.com/M/title-exact?Mamma%20Roma%...        0       0
1674  http://us.imdb.com/M/title-exact?Sunchaser,%20...        0       0
1675  http://us.imdb.com/M/title-exact?War%20at%20Ho...        0       0
1676  http://us.imdb.com/M/title-exact?Sweet%20Nothi...        0       0
1677  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...        0       0
1678  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...        0       0
1679      http://us.imdb.com/Title?Sliding+Doors+(1998)        0       0
1680  http://us.imdb.com/M/title-exact?You%20So%20Cr...        0       0
1681  http://us.imdb.com/M/title-exact?Schrei%20aus%...        0       0

      Adventure  Animation  Children's   ...     Fantasy  Film-Noir  Horror  \
0             0          1           1   ...           0          0       0
1             1          0           0   ...           0          0       0
2             0          0           0   ...           0          0       0
3             0          0           0   ...           0          0       0
4             0          0           0   ...           0          0       0
5             0          0           0   ...           0          0       0
6             0          0           0   ...           0          0       0
7             0          0           1   ...           0          0       0
8             0          0           0   ...           0          0       0
9             0          0           0   ...           0          0       0
10            0          0           0   ...           0          0       0
11            0          0           0   ...           0          0       0
12            0          0           0   ...           0          0       0
13            0          0           0   ...           0          0       0
14            0          0           0   ...           0          0       0
15            0          0           0   ...           0          0       0
16            0          0           0   ...           0          0       1
17            0          0           0   ...           0          0       0
18            0          0           0   ...           0          0       0
19            0          0           0   ...           0          0       0
20            1          0           0   ...           0          0       0
21            0          0           0   ...           0          0       0
22            0          0           0   ...           0          0       0
23            1          0           0   ...           0          0       0
24            0          0           0   ...           0          0       0
25            0          0           0   ...           0          0       0
26            0          0           0   ...           0          0       0
27            0          0           0   ...           0          0       0
28            1          0           0   ...           0          0       0
29            0          0           0   ...           0          0       0
...         ...        ...         ...   ...         ...        ...     ...
1652          0          0           0   ...           0          0       0
1653          0          0           0   ...           0          0       0
1654          0          0           0   ...           0          0       0
1655          0          0           0   ...           0          0       0
1656          0          0           0   ...           0          0       0
1657          0          0           0   ...           0          0       0
1658          0          0           0   ...           0          0       0
1659          0          0           0   ...           0          0       0
1660          0          0           0   ...           0          0       0
1661          0          0           0   ...           0          0       0
1662          0          0           0   ...           0          0       0
1663          0          0           0   ...           0          0       0
1664          0          0           0   ...           0          0       0
1665          0          0           0   ...           0          0       0
1666          0          0           0   ...           0          0       0
1667          0          0           0   ...           0          0       0
1668          0          0           0   ...           0          0       0
1669          0          0           0   ...           0          0       0
1670          0          0           0   ...           0          0       0
1671          0          0           0   ...           0          0       0
1672          0          0           0   ...           0          0       0
1673          0          0           0   ...           0          0       0
1674          0          0           0   ...           0          0       0
1675          0          0           0   ...           0          0       0
1676          0          0           0   ...           0          0       0
1677          0          0           0   ...           0          0       0
1678          0          0           0   ...           0          0       0
1679          0          0           0   ...           0          0       0
1680          0          0           0   ...           0          0       0
1681          0          0           0   ...           0          0       0

      Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0           0        0        0       0         0    0        0
1           0        0        0       0         1    0        0
2           0        0        0       0         1    0        0
3           0        0        0       0         0    0        0
4           0        0        0       0         1    0        0
5           0        0        0       0         0    0        0
6           0        0        0       1         0    0        0
7           0        0        0       0         0    0        0
8           0        0        0       0         0    0        0
9           0        0        0       0         0    1        0
10          0        0        0       0         1    0        0
11          0        0        0       0         1    0        0
12          0        0        0       0         0    0        0
13          0        0        1       0         0    0        0
14          0        0        0       0         0    0        0
15          0        0        1       0         0    0        0
16          0        0        0       0         1    0        0
17          0        0        0       0         0    0        0
18          0        0        0       0         0    0        0
19          0        0        1       0         0    0        0
20          1        0        0       0         1    0        0
21          0        0        0       0         0    1        0
22          0        0        0       0         1    0        0
23          0        0        0       0         0    0        0
24          0        0        0       0         0    0        0
25          0        0        0       0         0    0        0
26          0        0        0       0         0    0        0
27          0        0        0       0         1    0        0
28          0        0        0       0         0    0        0
29          0        0        0       0         0    0        0
...       ...      ...      ...     ...       ...  ...      ...
1652        0        0        0       0         0    0        0
1653        0        0        0       0         0    0        0
1654        0        0        1       0         0    0        0
1655        0        0        1       0         0    0        0
1656        0        0        0       0         0    0        0
1657        0        0        0       0         0    0        0
1658        0        0        0       0         0    0        0
1659        0        0        0       0         0    0        0
1660        0        0        0       0         0    0        0
1661        0        0        1       0         0    0        0
1662        0        0        0       0         0    1        0
1663        0        0        0       0         0    0        0
1664        0        0        0       0         0    0        0
1665        0        0        0       0         0    0        0
1666        0        0        0       0         0    0        0
1667        0        0        0       0         0    0        0
1668        0        1        0       0         0    0        0
1669        0        0        0       0         1    0        0
1670        0        0        0       0         0    0        0
1671        0        0        0       0         0    0        0
1672        0        0        0       0         1    0        0
1673        0        0        0       0         0    0        0
1674        0        0        0       0         0    0        0
1675        0        0        0       0         0    0        0
1676        0        0        0       0         0    0        0
1677        0        0        0       0         0    0        0
1678        0        0        1       0         1    0        0
1679        0        0        1       0         0    0        0
1680        0        0        0       0         0    0        0
1681        0        0        0       0         0    0        0

[1682 rows x 24 columns]>

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [10]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [11]:
data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

In [12]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [15]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [16]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [ ]:
import turicreate
train_data = turicreate.SFrame(ratings_train)
test_data = turicreate.Sframe(ratings_test)

In [ ]:
popularity_model = turicreate.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')
popularity_recomm = popularity_model.recommend(users=[1,2,3,4,5],k=5)
popularity_recomm.print_rows(num_rows=25)
#Training the model
item_sim_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='cosine')

#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=[1,2,3,4,5],k=5)
item_sim_recomm.print_rows(num_rows=25)

In [ ]:
class MF():

    # Initializing the user-movie rating matrix, no. of latent features, alpha and beta.
    def __init__(self, R, K, alpha, beta, iterations):
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    # Initializing user-feature and movie-feature matrix 
    def train(self):
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))

        # Initializing the bias terms
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])

        # List of training samples
        self.samples = [
        (i, j, self.R[i, j])
        for i in range(self.num_users)
        for j in range(self.num_items)
        if self.R[i, j] > 0
        ]

        # Stochastic gradient descent for given number of iterations
        training_process = []
        for i in range(self.iterations):
        np.random.shuffle(self.samples)
        self.sgd()
        mse = self.mse()
        training_process.append((i, mse))
        if (i+1) % 20 == 0:
            print("Iteration: %d ; error = %.4f" % (i+1, mse))

        return training_process

    # Computing total mean squared error
    def mse(self):
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    # Stochastic gradient descent to get optimized P and Q matrix
    def sgd(self):
        for i, j, r in self.samples:
            prediction = self.get_rating(i, j)
            e = (r - prediction)

            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])

            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - self.beta * self.Q[j,:])

    # Ratings for user i and moive j
    def get_rating(self, i, j):
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction

    # Full user-movie rating matrix
    def full_matrix(self):
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [ ]:
R= np.array(ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0))
mf = MF(R, K=20, alpha=0.001, beta=0.01, iterations=100)
training_process = mf.train()
print()
print("P x Q:")
print(mf.full_matrix())
print()